<ion-header>
  <ion-toolbar>
    <ion-title slor="start">Lista Jogadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <h2>Adicionar Jogador</h2>
    <form formGroup="">
      <ion-item>
        <!-- <label slot="start">Nome: </label> -->
        <ion-input type="text" [value]="nomeJogador" placeholder="Nome Jogador"></ion-input>
      </ion-item>

      <ion-item>
        <!-- <label slot="start">Contrato: </label> -->
        <ion-select placeholder="Contrato">
          <ion-select-option value="Contrato" selected disabled>Contrato</ion-select-option>
          <ion-select-option value="Mensalista">Mensalista</ion-select-option>
          <ion-select-option value="Avulso">Avulso</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <!-- Fazer ngFor igual o Alisson fez no valegas -->
        <ion-select placeholder="Posição">
          <ion-select-option value="Goleiro">Goleiro</ion-select-option>
          <ion-select-option value="Zagueiro">Zagueiro</ion-select-option>
          <ion-select-option value="Lateral">Lateral</ion-select-option>
          <ion-select-option value="Meio Campo">Meio Campo</ion-select-option>
          <ion-select-option value="Atacante">Atacante</ion-select-option>
        </ion-select>
      </ion-item>
    </form>

    <ion-button expand="block" color="primary" (click)="adicionarJogador()">Adicionar Jogadores</ion-button>
    <ion-button expand="block" color="success" (click)="buscarJogadores()">Buscar Jogadores</ion-button>

    <p>{{nomeJogador}}</p>
  </div>

  <app-card-perfil *ngIf="buscou"></app-card-perfil>

</ion-content>

<app-tab-bar></app-tab-bar>