<ion-header>
  <ion-toolbar>
    <ion-title slor="start">Lista Jogadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <h2>Adicionar Jogador</h2>
    <ion-item>
      <ion-input type="text" [value]="nomeJogador" placeholder="Nome Jogador"></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary">Adicionar Jogadores</ion-button>
    <ion-button expand="block" color="success" (click)="buscarJogadores()">Buscar Jogadores</ion-button>

    <p>{{nomeJogador}}</p>
  </div>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Nome Jogador</ion-card-title>
      <ion-card-subtitle>Mensal | Avulso</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Informações pessoais do jogador, como nome completo, endereço e etc
    </ion-card-content>
  </ion-card> -->
  <div *ngIf="buscou">
    <ion-card *ngFor="let jogador of Jogadores">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>

      <ion-card-header>
        <ion-card-title>{{jogador.nomeJogador}}</ion-card-title>
        <ion-card-subtitle>{{jogador.tipoAssinatura}}</ion-card-subtitle>
        <ion-card-subtitle>{{jogador.posicao}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{jogador.descricao}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- Pesquisar porque com esse componente, nao consigo clicar nos botões -->
<!-- <app-tab-bar></app-tab-bar> -->