ion-header{
    // margin-bottom: 2em;
    // text-align: center;

    ion-title{
        margin: 0;
    }
}

ion-content{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;

    ion-item{
        margin: 1em;
        border-radius: 1em;
        border-bottom: 1px solid #24ffa4;

        ion-select{
            width: 100%;
        }
    }

    ion-button{
        margin: 1em;
        border-radius: 2em;
    }

    ion-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    ion-avatar{
        margin: 10px;

        img{
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
        }
    }
}