<app-menu></app-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FuteMensal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>Controlador Financeiro e Administrativo</h1>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home']">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/lista-jogadores']">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Lista Jogadores</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>Pagamentos</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Faturamento</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>